
.h3 {
    font-family: 'Advent Pro';
}

.h4{
    color: #0771a1 
}
.login{
    background-color: #1290cb ;
}

.active{
    font-size: 11px;
    color: black;
}

.materia{
    font-size: 13px;
    color: #1290cb;  
}

.texto {
    font-family: 'Antic Didone';
}

