
.h3 {
    font-family: 'Advent Pro';
}

.login{
    background-color: #303D89 ;
}

.active{
    font-size: 11px;
    color: black;
}

.materia{
    font-size: 13px;
    color: black;  
}

.texto {
    font-family: 'Antic Didone';
}

